* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Pirate";
  src: url(../fonts/PirateKids.ttf);
}
body {
  text-decoration: none;
  background-color: #5eb1bf;
}
body nav {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
@media (max-width: 600px) {
  body nav {
    flex-direction: column;
    align-items: flex-start;
    background-color: #cdedf6;
    padding: 0;
    width: 100vw;
  }
}
body nav a {
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: "Pirate";
  color: #474747;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  body nav a {
    padding: 0;
  }
}
body nav img {
  width: 10rem;
}
@media (max-width: 600px) {
  body nav img {
    width: 8rem;
    padding: 1rem;
  }
}
body nav .desktop-nav-items {
  display: flex;
}
@media (max-width: 600px) {
  body nav .desktop-nav-items {
    display: none;
  }
}
body nav #hamburger {
  display: none;
  color: #474747;
  font-size: 3.5rem;
}
@media (max-width: 600px) {
  body nav #hamburger {
    display: block;
    position: absolute;
    margin-left: 20rem;
    margin-top: 2rem;
  }
}
body nav #menu-items {
  display: none;
}
@media (max-width: 600px) {
  body nav #menu-items {
    display: none;
    flex-direction: column;
    justify-content: flex-end;
  }
}
@media (max-width: 600px) {
  body nav #menu-items a {
    padding: 2rem;
    border-bottom: 2px solid #474747;
    width: 100vw;
  }
}
body header {
  height: 100vh;
  background-color: #cdedf6;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header h1 {
  font-family: "Pirate";
}
body #about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 0;
}
@media (max-width: 600px) {
  body #about {
    padding: 2rem 0;
  }
}
body #about h1 {
  font-family: "Pirate";
  font-size: 4rem;
  text-align: center;
  line-height: 85%;
  color: #474747;
  padding: 5rem 0 2rem 0;
}
@media (max-width: 600px) {
  body #about h1 {
    font-size: 2.5rem;
  }
}
body #about h1 span {
  font-size: 2rem;
}
@media (max-width: 600px) {
  body #about h1 span {
    font-size: 1.5rem;
  }
}
body #about .flexbox {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
@media (max-width: 600px) {
  body #about .flexbox {
    flex-direction: column;
  }
}
body #about .flexbox img {
  background-color: #474747;
  width: 25rem;
  height: 25rem;
  background-size: cover;
  margin-right: 2rem;
}
@media (max-width: 600px) {
  body #about .flexbox img {
    margin: 0;
    width: 20rem;
    height: 20rem;
  }
}
body #about .flexbox p {
  color: #474747;
  width: 25rem;
  font-family: "Odibee Sans";
  font-size: 1.75rem;
  margin-left: 2rem;
}
@media (max-width: 600px) {
  body #about .flexbox p {
    margin: 1rem 0;
    width: 20rem;
  }
}
body #treasure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
}
body #treasure h1 {
  font-family: "Pirate";
  font-size: 4rem;
  text-align: center;
  line-height: 85%;
  color: #474747;
  padding: 5rem 0 2rem 0;
}
@media (max-width: 600px) {
  body #treasure h1 {
    font-size: 2.5rem;
  }
}
body #treasure #treasure-subheading {
  font-size: 2rem;
  font-family: "Pirate";
  color: #474747;
}
@media (max-width: 600px) {
  body #treasure #treasure-subheading {
    font-size: 1.5rem;
  }
}
body #treasure img {
  margin: 4rem;
  width: 40rem;
}
@media (max-width: 600px) {
  body #treasure img {
    width: 20rem;
  }
}
body #treasure .flexbox {
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  body #treasure .flexbox {
    flex-direction: column;
  }
}
body #treasure .flexbox input {
  width: 30rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  margin: 0 0.5rem;
}
@media (max-width: 600px) {
  body #treasure .flexbox input {
    width: 20rem;
  }
}
body #treasure .flexbox button {
  color: #fff;
  font-family: "Pirate";
  font-size: 1.25rem;
  background-color: #7a3b00;
  padding: 0 5rem;
  border: none;
  border-radius: 10px;
}
@media (max-width: 600px) {
  body #treasure .flexbox button {
    margin: 0.5rem;
    padding: 0.5rem 0;
  }
}

/*# sourceMappingURL=css.style.css.map */
